// Mixins in here
.cta-btn(@background-color, @color, @padding, @font-size, @border-radius, @text-align, @width) {
  background-color: @background-color;
  color: @color;
  padding: @padding;
  font-size: @font-size;
  border-radius: @border-radius;
  text-align: @text-align;
  width: @width;
}
