// Navigation Styles here
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0 2.4rem 0;
  width: 80%;
  margin: 0 auto;

  @media @mobile {
    width: 100%;
    padding-bottom: 1rem;
  }

  a {
    text-decoration: none;
    color: black;
  }

  nav a {
    font-size: 1.6rem;
    padding-right: 2.8rem;

    @media @mobile {
      padding: 0 3.15rem;
    }
  }

  nav {
    padding-right: 0.3rem;

    @media @mobile {
      display: flex;
      justify-content: space-around;
      padding-right: 0;
    }
  }

  @media @mobile {
    flex-direction: column;
    padding-top: 1.7rem;

    h1 {
      font-size: 3rem;
      padding-bottom: 1.7rem;
    }
  }
}
