// Navigation Styles here
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
  border-bottom: 1px dashed #bbb;
}

header a {
  text-decoration: none;
  color: black;
}

header nav a {
  font-size: 1.6rem;
  padding-right: 3rem;
}
